USE [master]
GO
/****** Object:  Database [buzzify]    Script Date: 02/04/2026 11:47:15 CH ******/
CREATE DATABASE [buzzify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'buzzify', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\buzzify.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'buzzify_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\buzzify_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [buzzify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [buzzify]
GO
/****** Object:  User [Genzo]    Script Date: 02/04/2026 11:47:16 CH ******/
CREATE USER [Genzo] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[lich_su_nghe]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_nghe](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_nguoi_dung] [nvarchar](36) NOT NULL,
	[song_id] [nvarchar](36) NOT NULL,
	[ngay_nghe] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[songs]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songs](
	[id] [nvarchar](36) NOT NULL,
	[tieu_de] [nvarchar](255) NOT NULL,
	[url] [nvarchar](max) NOT NULL,
	[anh_bia] [nvarchar](max) NULL,
	[thoi_luong_giay] [int] NULL,
	[luot_nghe] [int] NULL,
	[artist_id] [nvarchar](36) NULL,
	[id_album] [nvarchar](36) NULL,
	[nghe_si_hop_tac] [nvarchar](max) NULL,
	[track_number] [int] NULL,
	[uploader_id] [nvarchar](36) NULL,
	[ngay_tai_len] [datetime] NULL,
	[trang_thai] [nvarchar](50) NULL,
	[scheduled_publish_date] [datetime] NULL,
	[is_muted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[the_loai]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[the_loai](
	[id] [nvarchar](36) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[search_tags] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[the_loai_album]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[the_loai_album](
	[id_album] [nvarchar](36) NOT NULL,
	[id_the_loai] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_album] ASC,
	[id_the_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_user_favorite_genres]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. VIEW: Thống kê các thể loại mà user nghe nhiều nhất (Sở thích của user)
CREATE VIEW [dbo].[vw_user_favorite_genres] AS
SELECT TOP 100 PERCENT
    ls.id_nguoi_dung,
    tla.id_the_loai,
    tl.ten AS ten_the_loai,
    COUNT(ls.id) AS tong_luot_nghe,
    MAX(ls.ngay_nghe) AS lan_nghe_cuoi
FROM [dbo].[lich_su_nghe] ls
JOIN [dbo].[songs] s ON ls.song_id = s.id
JOIN [dbo].[the_loai_album] tla ON s.id_album = tla.id_album
JOIN [dbo].[the_loai] tl ON tla.id_the_loai = tl.id
GROUP BY 
    ls.id_nguoi_dung, 
    tla.id_the_loai, 
    tl.ten
ORDER BY 
    tong_luot_nghe DESC;

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[album]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[album](
	[id] [nvarchar](36) NOT NULL,
	[tieu_de] [nvarchar](255) NOT NULL,
	[anh_bia] [nvarchar](max) NULL,
	[artist_id] [nvarchar](36) NULL,
	[ngay_phat_hanh] [date] NULL,
	[scheduled_publish_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[album_da_luu]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[album_da_luu](
	[id_nguoi_dung] [nvarchar](36) NOT NULL,
	[id_album] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nguoi_dung] ASC,
	[id_album] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[artists]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artists](
	[id] [nvarchar](36) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[anh_dai_dien] [nvarchar](max) NULL,
	[profile_id] [nvarchar](36) NULL,
	[follower_count] [int] NOT NULL,
	[is_verified] [bit] NOT NULL,
	[bio] [nvarchar](max) NULL,
	[cover_image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bai_hat_trong_daily_mix]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_hat_trong_daily_mix](
	[mix_id] [nvarchar](36) NOT NULL,
	[song_id] [nvarchar](36) NOT NULL,
	[thu_tu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mix_id] ASC,
	[song_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bai_hat_trong_playlist]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_hat_trong_playlist](
	[playlist_id] [nvarchar](36) NOT NULL,
	[song_id] [nvarchar](36) NOT NULL,
	[ngay_them] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[playlist_id] ASC,
	[song_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nghe_si_theo_doi]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nghe_si_theo_doi](
	[id_nguoi_dung] [nvarchar](36) NOT NULL,
	[artist_id] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nguoi_dung] ASC,
	[artist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist_da_luu]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist_da_luu](
	[id_nguoi_dung] [nvarchar](36) NOT NULL,
	[playlist_id] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nguoi_dung] ASC,
	[playlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlists]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlists](
	[id] [nvarchar](36) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[id_nguoi_tao] [nvarchar](36) NOT NULL,
	[anh_bia] [nvarchar](max) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[loai_playlist] [nvarchar](20) NOT NULL,
	[cong_khai] [bit] NULL,
	[is_system] [bit] NOT NULL,
	[is_featured] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profiles]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profiles](
	[id] [nvarchar](36) NOT NULL,
	[ho_ten] [nvarchar](255) NULL,
	[anh_dai_dien] [nvarchar](max) NULL,
	[vai_tro] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[provider] [nvarchar](50) NOT NULL,
	[provider_id] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NULL,
	[is_email_verified] [bit] NOT NULL,
	[verification_code_hash] [nvarchar](255) NULL,
	[verification_code_expiry] [datetime] NULL,
	[last_song_id] [nvarchar](36) NULL,
	[last_queue_ids] [nvarchar](max) NULL,
	[last_source_info] [nvarchar](max) NULL,
	[last_position] [float] NULL,
	[bio] [nvarchar](max) NULL,
	[link] [nvarchar](max) NULL,
	[anh_dai_dien_provider] [nvarchar](max) NULL,
	[is_locked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[the_loai_artist]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[the_loai_artist](
	[artist_id] [nvarchar](36) NOT NULL,
	[id_the_loai] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[artist_id] ASC,
	[id_the_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[the_loai_playlist]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[the_loai_playlist](
	[playlist_id] [nvarchar](36) NOT NULL,
	[id_the_loai] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[playlist_id] ASC,
	[id_the_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_daily_mixes]    Script Date: 02/04/2026 11:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_daily_mixes](
	[id] [nvarchar](36) NOT NULL,
	[id_nguoi_dung] [nvarchar](36) NOT NULL,
	[tieu_de] [nvarchar](255) NOT NULL,
	[id_the_loai_chinh] [nvarchar](36) NULL,
	[ngay_tao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[album] ([id], [tieu_de], [anh_bia], [artist_id], [ngay_phat_hanh], [scheduled_publish_date]) VALUES (N'06839faa-e6d0-4a65-9535-5263d8430553', N'Đế Vương', N'/images/songs/song2.jpg', N'd9f8c7b6-a5b4-c3d2-e1f0-a9b8c7d6e5f4', CAST(N'2026-03-25' AS Date), NULL)
INSERT [dbo].[album] ([id], [tieu_de], [anh_bia], [artist_id], [ngay_phat_hanh], [scheduled_publish_date]) VALUES (N'12ed8985-d98b-4806-989e-9e3cf6a2e515', N'Voicenotes', N'/images/albums/artist-charlieputh-001/12ed8985-d98b-4806-989e-9e3cf6a2e515.jpg', N'artist-charlieputh-001', CAST(N'2018-11-05' AS Date), NULL)
INSERT [dbo].[album] ([id], [tieu_de], [anh_bia], [artist_id], [ngay_phat_hanh], [scheduled_publish_date]) VALUES (N'7a6b5c4d-3e2f-1a0b-9c8d-7e6f5a4b3c2d', N'Dữ Liệu Quý', N'/images/albums/du_lieu_quy.jpg', N'c82a3d4-e6f6-a708-c9d0-e1f2a3b4c5d6', CAST(N'2025-01-01' AS Date), NULL)
GO
INSERT [dbo].[album_da_luu] ([id_nguoi_dung], [id_album]) VALUES (N'fb64b979-c8ca-46f0-ac82-ca80f4d52830', N'album-ninetrackmind-001')
GO
INSERT [dbo].[artists] ([id], [ten], [anh_dai_dien], [profile_id], [follower_count], [is_verified], [bio], [cover_image]) VALUES (N'8c1b69d6-4b8a-4b0d-9b0d-7d6c1f0e9bc1', N'Hoài Lâm', NULL, N'd24e8c11-c833-474c-aff6-daf0d3e6704e', 0, 1, NULL, NULL)
INSERT [dbo].[artists] ([id], [ten], [anh_dai_dien], [profile_id], [follower_count], [is_verified], [bio], [cover_image]) VALUES (N'a0b8d8d7-e8f6-4a53-a2d1-f0e9d8c7b6a5', N'Đạt Long Vinh', NULL, N'f983eea0-40a7-408c-bb9e-112ec86a84cb', 0, 0, NULL, NULL)
INSERT [dbo].[artists] ([id], [ten], [anh_dai_dien], [profile_id], [follower_count], [is_verified], [bio], [cover_image]) VALUES (N'artist-charlieputh-001', N'Charlie Puth', N'/images/artists/charlie_puth.jpg', N'7377ee8c-fbf1-4538-ba8e-028ad289ed64', 4, 1, NULL, NULL)
GO
INSERT [dbo].[bai_hat_trong_playlist] ([playlist_id], [song_id], [ngay_them]) VALUES (N'885438cf-1772-4a18-b98a-d47ec13d92b8', N'04E212F5-F855-4B7E-90E5-BC58911BC498', CAST(N'2026-03-23T17:49:26.533' AS DateTime))
INSERT [dbo].[bai_hat_trong_playlist] ([playlist_id], [song_id], [ngay_them]) VALUES (N'885438cf-1772-4a18-b98a-d47ec13d92b8', N'07AFB0F4-4416-42B4-A38D-8F290B8B2235', CAST(N'2026-03-23T17:55:13.437' AS DateTime))
INSERT [dbo].[bai_hat_trong_playlist] ([playlist_id], [song_id], [ngay_them]) VALUES (N'885438cf-1772-4a18-b98a-d47ec13d92b8', N'462EE00C-0F18-40CD-AB3C-4DD5A953BF7E', CAST(N'2026-03-23T18:02:20.863' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[lich_su_nghe] ON 

INSERT [dbo].[lich_su_nghe] ([id], [id_nguoi_dung], [song_id], [ngay_nghe]) VALUES (1, N'7377ee8c-fbf1-4538-ba8e-028ad289ed64', N'04E212F5-F855-4B7E-90E5-BC58911BC498', CAST(N'2026-03-13T02:12:00.000' AS DateTime))
INSERT [dbo].[lich_su_nghe] ([id], [id_nguoi_dung], [song_id], [ngay_nghe]) VALUES (2, N'b2c717f9-e485-4155-a619-f6a862a22e0c', N'04E212F5-F855-4B7E-90E5-BC58911BC498', CAST(N'2026-03-16T01:44:00.000' AS DateTime))
INSERT [dbo].[lich_su_nghe] ([id], [id_nguoi_dung], [song_id], [ngay_nghe]) VALUES (3, N'76cc8ab1-b009-4030-a3ce-dfae7a38e27d', N'04E212F5-F855-4B7E-90E5-BC58911BC498', CAST(N'2026-03-15T09:58:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[lich_su_nghe] OFF
GO
INSERT [dbo].[nghe_si_theo_doi] ([id_nguoi_dung], [artist_id]) VALUES (N'd4ff6097-7f94-4073-b3ef-988b98b6f9ac', N'artist-charlieputh-001')
INSERT [dbo].[nghe_si_theo_doi] ([id_nguoi_dung], [artist_id]) VALUES (N'fb64b979-c8ca-46f0-ac82-ca80f4d52830', N'artist-charlieputh-001')
GO
INSERT [dbo].[playlist_da_luu] ([id_nguoi_dung], [playlist_id]) VALUES (N'd4ff6097-7f94-4073-b3ef-988b98b6f9ac', N'pl-editorial-ballad')
INSERT [dbo].[playlist_da_luu] ([id_nguoi_dung], [playlist_id]) VALUES (N'd4ff6097-7f94-4073-b3ef-988b98b6f9ac', N'pl-editorial-hiphop')
GO
INSERT [dbo].[playlists] ([id], [ten], [id_nguoi_tao], [anh_bia], [mo_ta], [loai_playlist], [cong_khai], [is_system], [is_featured]) VALUES (N'03477ef5-0856-44a1-9048-53e8d32ea712', N'Bài Hát Yêu Thích', N'7377ee8c-fbf1-4538-ba8e-028ad289ed64', NULL, N'Danh sách những bài hát bạn yêu thích nhất.', N'liked_songs', 0, 0, 0)
INSERT [dbo].[playlists] ([id], [ten], [id_nguoi_tao], [anh_bia], [mo_ta], [loai_playlist], [cong_khai], [is_system], [is_featured]) VALUES (N'10c774c1-5c49-4827-8b54-809f04c10208', N'Bài Hát Yêu Thích', N'd4ff6097-7f94-4073-b3ef-988b98b6f9ac', NULL, N'Danh sách những bài hát bạn yêu thích nhất.', N'liked_songs', 0, 0, 0)
INSERT [dbo].[playlists] ([id], [ten], [id_nguoi_tao], [anh_bia], [mo_ta], [loai_playlist], [cong_khai], [is_system], [is_featured]) VALUES (N'1379e01a-4da6-497d-a592-e352f4a8d271', N'Bài Hát Yêu Thích', N'7377ee8c-fbf1-4538-ba8e-028ad289ed64', NULL, N'Danh sách những bài hát bạn yêu thích nhất.', N'liked_songs', 0, 0, 0)
GO
INSERT [dbo].[profiles] ([id], [ho_ten], [anh_dai_dien], [vai_tro], [email], [provider], [provider_id], [password_hash], [is_email_verified], [verification_code_hash], [verification_code_expiry], [last_song_id], [last_queue_ids], [last_source_info], [last_position], [bio], [link], [anh_dai_dien_provider], [is_locked]) VALUES (N'1fab0944-ae10-4c96-a08d-fb1af3b827ce', N'YG', N'/images/artists/yg.jpg', N'artist', N'yg@buzzify.com', N'email', N'yg@buzzify.com', N'$2a$11$5Y9HvbhWeMnBqGfGsAK4YeVYdg0LEEpvgeVFyvAtotXMV13.vJShG', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[songs] ([id], [tieu_de], [url], [anh_bia], [thoi_luong_giay], [luot_nghe], [artist_id], [id_album], [nghe_si_hop_tac], [track_number], [uploader_id], [ngay_tai_len], [trang_thai], [scheduled_publish_date], [is_muted]) VALUES (N'04E212F5-F855-4B7E-90E5-BC58911BC498', N'Qua Ngày Mai', N'/audio/qua_ngay_mai.mp3', N'/images/albums/chill_with_me.jpg', 157, 6, N'artist-tientien-001', N'album-chillwithme-001', NULL, 2, NULL, NULL, N'published', NULL, 0)
INSERT [dbo].[songs] ([id], [tieu_de], [url], [anh_bia], [thoi_luong_giay], [luot_nghe], [artist_id], [id_album], [nghe_si_hop_tac], [track_number], [uploader_id], [ngay_tai_len], [trang_thai], [scheduled_publish_date], [is_muted]) VALUES (N'0530CFE9-B65F-49C5-812B-71DA403EF2C4', N'Me & My Bitch', N'/audio/me_&_my_bitch.mp3', N'/images/albums/my_krazy_life2.jpg', 211, 69, N'e7d6c5b4-a3b2-c1d0-e9f8-a7b6c5d4e3f2', N'9f8e7d6c-5b4a-3c2d-1a0f-9e8d7c6b5a4d', N'Tory Lanez', 9, NULL, NULL, N'published', NULL, 0)
INSERT [dbo].[songs] ([id], [tieu_de], [url], [anh_bia], [thoi_luong_giay], [luot_nghe], [artist_id], [id_album], [nghe_si_hop_tac], [track_number], [uploader_id], [ngay_tai_len], [trang_thai], [scheduled_publish_date], [is_muted]) VALUES (N'07AFB0F4-4416-42B4-A38D-8F290B8B2235', N'BPT', N'/audio/bpt.mp3', N'/images/albums/my_krazy_life.jpg', 148, 27, N'e7d6c5b4-a3b2-c1d0-e9f8-a7b6c5d4e3f2', N'9f8e7d6c-5b4a-3c2d-1a0f-9e8d7c6b5a4d', NULL, 2, NULL, NULL, N'published', NULL, 0)
GO
INSERT [dbo].[the_loai] ([id], [ten], [search_tags]) VALUES (N'g-001', N'R&B', N'r&b, rnb, rhythm and blues, soul')
INSERT [dbo].[the_loai] ([id], [ten], [search_tags]) VALUES (N'g-002', N'Hiphop', N'hiphop, rap, urban, hip hop, rap việt')
INSERT [dbo].[the_loai] ([id], [ten], [search_tags]) VALUES (N'g-003', N'Nhạc Tình Yêu', N'nhạc tình yêu, love, romantic, lãng mạn, couple, love songs')
GO
INSERT [dbo].[the_loai_album] ([id_album], [id_the_loai]) VALUES (N'12ed8985-d98b-4806-989e-9e3cf6a2e515', N'g-001')
INSERT [dbo].[the_loai_album] ([id_album], [id_the_loai]) VALUES (N'12ed8985-d98b-4806-989e-9e3cf6a2e515', N'g-006')
INSERT [dbo].[the_loai_album] ([id_album], [id_the_loai]) VALUES (N'7a6b5c4d-3e2f-1a0b-9c8d-7e6f5a4b3c2d', N'g-001')
GO
INSERT [dbo].[the_loai_artist] ([artist_id], [id_the_loai]) VALUES (N'8c1b69d6-4b8a-4b0d-9b0d-7d6c1f0e9bc1', N'g-004')
INSERT [dbo].[the_loai_artist] ([artist_id], [id_the_loai]) VALUES (N'8c1b69d6-4b8a-4b0d-9b0d-7d6c1f0e9bc1', N'g-007')
INSERT [dbo].[the_loai_artist] ([artist_id], [id_the_loai]) VALUES (N'a0b8d8d7-e8f6-4a53-a2d1-f0e9d8c7b6a5', N'g-007')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_album_tieu_de]    Script Date: 02/04/2026 11:47:16 CH ******/
CREATE NONCLUSTERED INDEX [idx_album_tieu_de] ON [dbo].[album]
(
	[tieu_de] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_artists_ten]    Script Date: 02/04/2026 11:47:16 CH ******/
CREATE NONCLUSTERED INDEX [idx_artists_ten] ON [dbo].[artists]
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_lich_su_nghe_user_time]    Script Date: 02/04/2026 11:47:16 CH ******/
CREATE NONCLUSTERED INDEX [idx_lich_su_nghe_user_time] ON [dbo].[lich_su_nghe]
(
	[id_nguoi_dung] ASC,
	[ngay_nghe] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_provider_id]    Script Date: 02/04/2026 11:47:16 CH ******/
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [UQ_provider_id] UNIQUE NONCLUSTERED 
(
	[provider] ASC,
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_songs_tieu_de]    Script Date: 02/04/2026 11:47:16 CH ******/
CREATE NONCLUSTERED INDEX [idx_songs_tieu_de] ON [dbo].[songs]
(
	[tieu_de] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__the_loai__DC107AB1F0019427]    Script Date: 02/04/2026 11:47:16 CH ******/
ALTER TABLE [dbo].[the_loai] ADD UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[artists] ADD  DEFAULT ((0)) FOR [follower_count]
GO
ALTER TABLE [dbo].[artists] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[bai_hat_trong_playlist] ADD  DEFAULT (getdate()) FOR [ngay_them]
GO
ALTER TABLE [dbo].[lich_su_nghe] ADD  DEFAULT (getdate()) FOR [ngay_nghe]
GO
ALTER TABLE [dbo].[playlists] ADD  DEFAULT ('user_created') FOR [loai_playlist]
GO
ALTER TABLE [dbo].[playlists] ADD  DEFAULT ((1)) FOR [cong_khai]
GO
ALTER TABLE [dbo].[playlists] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[playlists] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[profiles] ADD  DEFAULT ('user') FOR [vai_tro]
GO
ALTER TABLE [dbo].[profiles] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[profiles] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[songs] ADD  DEFAULT ((0)) FOR [luot_nghe]
GO
ALTER TABLE [dbo].[songs] ADD  DEFAULT (getdate()) FOR [ngay_tai_len]
GO
ALTER TABLE [dbo].[songs] ADD  DEFAULT ('published') FOR [trang_thai]
GO
ALTER TABLE [dbo].[songs] ADD  DEFAULT ((0)) FOR [is_muted]
GO
ALTER TABLE [dbo].[user_daily_mixes] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[album]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artists] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[album_da_luu]  WITH CHECK ADD FOREIGN KEY([id_album])
REFERENCES [dbo].[album] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[album_da_luu]  WITH CHECK ADD FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[artists]  WITH CHECK ADD  CONSTRAINT [FK_artists_profiles] FOREIGN KEY([profile_id])
REFERENCES [dbo].[profiles] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[artists] CHECK CONSTRAINT [FK_artists_profiles]
GO
ALTER TABLE [dbo].[bai_hat_trong_daily_mix]  WITH CHECK ADD FOREIGN KEY([mix_id])
REFERENCES [dbo].[user_daily_mixes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bai_hat_trong_daily_mix]  WITH CHECK ADD FOREIGN KEY([song_id])
REFERENCES [dbo].[songs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bai_hat_trong_playlist]  WITH CHECK ADD FOREIGN KEY([playlist_id])
REFERENCES [dbo].[playlists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bai_hat_trong_playlist]  WITH CHECK ADD FOREIGN KEY([song_id])
REFERENCES [dbo].[songs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lich_su_nghe]  WITH CHECK ADD FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lich_su_nghe]  WITH CHECK ADD FOREIGN KEY([song_id])
REFERENCES [dbo].[songs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nghe_si_theo_doi]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nghe_si_theo_doi]  WITH CHECK ADD FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[playlist_da_luu]  WITH CHECK ADD FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[playlist_da_luu]  WITH CHECK ADD FOREIGN KEY([playlist_id])
REFERENCES [dbo].[playlists] ([id])
GO
ALTER TABLE [dbo].[playlists]  WITH CHECK ADD FOREIGN KEY([id_nguoi_tao])
REFERENCES [dbo].[profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[songs]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artists] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[songs]  WITH CHECK ADD FOREIGN KEY([id_album])
REFERENCES [dbo].[album] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[songs]  WITH CHECK ADD  CONSTRAINT [FK_songs_uploader] FOREIGN KEY([uploader_id])
REFERENCES [dbo].[profiles] ([id])
GO
ALTER TABLE [dbo].[songs] CHECK CONSTRAINT [FK_songs_uploader]
GO
ALTER TABLE [dbo].[the_loai_album]  WITH CHECK ADD FOREIGN KEY([id_album])
REFERENCES [dbo].[album] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[the_loai_album]  WITH CHECK ADD FOREIGN KEY([id_the_loai])
REFERENCES [dbo].[the_loai] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[the_loai_artist]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[the_loai_artist]  WITH CHECK ADD FOREIGN KEY([id_the_loai])
REFERENCES [dbo].[the_loai] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[the_loai_playlist]  WITH CHECK ADD FOREIGN KEY([id_the_loai])
REFERENCES [dbo].[the_loai] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[the_loai_playlist]  WITH CHECK ADD FOREIGN KEY([playlist_id])
REFERENCES [dbo].[playlists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_daily_mixes]  WITH CHECK ADD FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_daily_mixes]  WITH CHECK ADD FOREIGN KEY([id_the_loai_chinh])
REFERENCES [dbo].[the_loai] ([id])
GO
ALTER TABLE [dbo].[playlists]  WITH CHECK ADD  CONSTRAINT [chk_loai_playlist] CHECK  (([loai_playlist]='mix' OR [loai_playlist]='editorial' OR [loai_playlist]='liked_songs' OR [loai_playlist]='user_created'))
GO
ALTER TABLE [dbo].[playlists] CHECK CONSTRAINT [chk_loai_playlist]
GO
ALTER TABLE [dbo].[songs]  WITH CHECK ADD  CONSTRAINT [chk_song_status] CHECK  (([trang_thai]='rejected' OR [trang_thai]='hidden' OR [trang_thai]='published' OR [trang_thai]='pending'))
GO
ALTER TABLE [dbo].[songs] CHECK CONSTRAINT [chk_song_status]
GO
USE [master]
GO
